header {font-size:50px;font-display:block;text-align:center;font-family:fantasy}
body {background-color:orange;}
img {float:right}
h1 {font-size:45px;font-family:fantasy}
p {font-family:sans-serif;font-size:21px;}
br {background-color: orange}